[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "amap"]
	path = amap
	url = https://github.com/cran/amap
[submodule "ctc"]
	path = ctc
	url = https://git.bioconductor.org/packages/ctc
[submodule "geotools"]
	path = geotools
	url = https://github.com/cran/geotools
[submodule "gmp"]
	path = gmp
	url = https://github.com/cran/gmp
